<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <script src="{{ url_for('static', filename='script/edit.js') }}"></script>
        <title>Prome Edit</title>
    </head>
    <body>
        {% include "include/header.html" %}
        <h1>編集</h1>
        <div>
            <form name="putContent" enctype="multipart/form-data" method="POST" action="{{ url_for('router.file', proc='put') }}">
                タイトル：<input name="title" type="text" value="{{ param.contents.title }}"/>
                タグ：<input name="tags" type="text" value="{{ param.contents.tags }}"/>
                mdファイル：<input name="uploadFile" type="file" />
                <input name="contentId" type="hidden" value="{{ param.contents.id }}">
                <button type="button" onclick="putContents();">アップロード</button>
            </form>
        </div>
        {% include "include/footer.html" %}
    </body>
</html>