<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{{ param.title }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style/main.css')}}">
        {% if param.twitter_card %}
            {% include "include/meta_twitter.html" %}
        {% endif %}
        {% include "include/google_ad.html" %}
    </head>
    <body>
        {% include "include/header.html" %}
        {% if param.pager %}
            {% include "include/pagination.html" %}
        {% endif %}
        {% include "include/contents.html" %}
        {% include "include/footer.html" %}
        {% if param.twitter_card %}
            {% include "include/script_twitter.html" %}
        {% endif %}
    </body>
</html>