/* Reset style  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  width: 100%;
  height: 100px;
  background-color: black;
}

.header a {
  color: inherit;
  text-decoration: inherit;
}

.header__title {
  color: white;
  font-size: 64px;
}

.footer {
  margin: 20px 0px 0px 0px;
  width: 100%;
  background-color: black;
  color: white;
  position: relative;
}

.footer__copyright {
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

.pagination {
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
  text-align: center;
  width: 80%;
  margin: 12px auto;
  padding: 10px 10px 10px 10px;
}

.pagination__page {
  margin: 5px;
}

.content {
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  line-height: 1.6;
}

.content__header {
  border-bottom: 1px solid black;
  margin: 0px 0px 10px 0px;
}

.content__title {
  display: inline-block;
  font-size: 48px;
}

.content__datetimes {
  display: inline-block;
  vertical-align: bottom;
}

.content-datetimes__datetime {
  margin: 0px 0px 0px 10px;
  font-size: 12px;
}

.content__article {
  margin: 0px 0px 20px 20px;
  clear: both;
}

.content__article h1, .content__article h2, .content__article h3, .content__article h4, .content__article h5 {
  font-weight: bold;
  margin: 20px 0px 20px 0px;
  border-bottom: solid 1px black;
  display: block;
}

.content__article h1 {
  font-size: 32px;
}

.content__article h2 {
  font-size: 24px;
}

.content__article h3 {
  font-size: 16px;
}

.content__article h4 {
  font-size: 12px;
}

.content__article h5 {
  font-size: 8px;
}

.content__article pre {
  margin: 5px 0px;
}

.content__article pre code {
  white-space: pre;
  padding: 10px;
  background: black;
  color: white;
  display: block;
}

.content__article p {
  margin: 5px 0px;
}

.content__article p code {
  padding: 2px;
  background: black;
  color: white;
  display: inline-block;
  margin: 2px;
}

.content__article ul, .content__article ol {
  margin: 0px 0px 0px 20px;
}

.content__article ul {
  list-style-type: square;
}

.content__article ol {
  list-style-type: decimal;
}

.content__article li {
  padding: 5px 0px;
}

.content__tags {
  padding: 10px 0px 10px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.content-tags__tag {
  display: inline-block;
  margin: 5px;
}

.content__sns {
  text-align: center;
  padding: 10px 0px 0px 0px;
}
