@import "import/reset.scss";
@import "import/header.scss";
@import "import/footer.scss";

$indent: 20px;

@mixin common-code-properties($padding, $display) {
	padding: $padding;
	background: black;
	color: white;
	display: $display;
}

.pagination {
	border: 1px solid black;
	box-shadow: 5px 5px;
	text-align: center;
	width: 80%;
	margin: 12px auto;
	padding: 10px 10px 10px 10px;

}

.pagination__contents{
	display:flex;
	justify-content: center;
}

.pagination__page {
	margin: 5px;
}

.pagination__page--selected{
	padding: 2px;
	background-color: black;
	color: white;
}

.content {
	border: 1px solid black;
	box-shadow: 5px 5px;
	padding: 10px;
	margin: 10px auto;
	width: 80%;
	line-height: 1.6;
}

.content__header {
	border-bottom: 1px solid black;
	margin: 0px 0px 10px 0px;
}

.content__title {
	display: inline-block;
	font-size: 48px;
}

.content__datetimes {
	display: inline-block;
	vertical-align: bottom;
}

.content-datetimes__datetime {
	margin: 0px 0px 0px 10px;
	font-size: 12px;
}

.content__article{
	margin: 0px 0px 20px $indent;
	clear: both;
}

.content__article {
	h1, h2, h3, h4, h5 {
		font-weight: bold;
		margin: 20px 0px 20px 0px;
		border-bottom: solid 1px black;
		display: block;
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 12px;
	}
	h5 {
		font-size: 8px;
	}
	pre {
		margin: 5px 0px;
		code {
			white-space: pre;
			@include common-code-properties(10px, block);
		}
	}
	p {
		margin: 5px 0px;
		code {
			@include common-code-properties(2px, inline-block);
			margin: 2px;
		}
	}
	ul, ol  {
		margin: 0px 0px 0px $indent;
	}

	ul {
		list-style-type: square;
	}

	ol {
		list-style-type: decimal;
	}

	li {
		padding: 5px 0px;
	}
}

.content__tags{
	padding: 10px 0px 10px 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.content-tags__tag{
	display:inline-block;
	margin: 5px;
}

.content__sns {
	text-align: center;
	padding: 10px 0px 0px 0px;
}
