<section>
    {% for content in param.contents %}
    <article class="content">
        <header class="content__header">
            <span class="content__title">{{ content.title }}</span>
            <div class="content__datetimes">
                <span class="content-datetimes__datetime">投稿日:<time>{{ content.upload_at }}</time></span>
                <span class="content-datetimes__datetime">更新日:<time>{{ content.update_at }}</time></span>
            </div>
        </header> 
        <div class="content__article">
            {{ content.html_content }}
        </div>
        <div class="content__tags">
            <span class="content-tags__tag"><h1>タグ:</h1></span>
        {% for tag in content.tags %}
            <div class="content-tags__tag">{{ tag }}</div>
        {% endfor %}
        </div>
        {% if param.twitter_card %}
        <div class="content__sns">
                <div id="tweet_button"></div>
        </div>
        {% endif %}
    </article>
    {% endfor %}
</section>