<div class="pagination">
    <span>Page</span>
    {% for n in range(response.pager) %}
        {% with value_page = n + 1 %}
            <div class="pagination__page">
            {% if value_page is divisibleby(response.current_page) %}
                {{ value_page }}
            {% else %}
                <a href="./contents/all?page={{ value_page }}">
                    {{ value_page }}
                </a>
            {% endif %}
            </div>
        {% endwith %}
    {% endfor %} 
</div>