.header {
	width: 100%;
    height: 100px;
	background-color: black;
	color: white;

	a {
		color: inherit;
		text-decoration: inherit;
	}
}

.header__title-area {
	display: inline-block;
}

.header__title {
	font-size: 64px;
}

.header__running-area {
	display: inline-block;
	margin: 0px 20px;

	.header__running-title {

	}

	.header__running-timezone {
		text-align: center;
	}
}